    ul {
     display: flex;
     flex-wrap: wrap;
        }
    ul li{
     padding: 20px;  

    }
    ul li a{
        padding: 6px;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: bolder;
    }
    ul{
        font-family: Arial, Helvetica, sans-serif;
        list-style-type: none;
        padding: 0;
        background-color: #010B18;
        margin-bottom: 0 !important;
    }
   
    ul li a:hover {
        background-color: #045568;
        cursor: pointer;
        color: white;
        text-decoration: none;
        box-shadow: 0px 0px 5px #045568;
    }

    .conta{
    margin-top: 20px;
    text-align:center;

    }
    .images{
     position: relative;
     text-align:center;
     color:white;
     width: 100%;
    }
    img{
        width: 100%;
        height: 65vh;
    }
    .overlap p,h3{
        text-shadow: 5px 5px 5px black;
    }
    .overlap{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    }

    @media screen and (max-width: 500px){
        /* .overlap{
            left: 2%;
        } */
        .images{
            width: 100%;
        }
        img{
            width: 100%;
            height: 65vh;
        }
    }